Node.RED/UI flow.JSON
[
    {
        "id": "72bab63a.ea21e8",
        "type": "mqtt in",
        "z": "a159b87f.b45138",
        "name": "",
        "topic": "home/sleepingRoom/lightColor",
        "qos": "0",
        "broker": "171132c7.ece67d",
        "x": 230,
        "y": 400,
        "wires": [
            [
                "3f6009e4.9a9066",
                "ec11c98e.b01348"
            ]
        ]
    },
    {
        "id": "8e130c7b.178a3",
        "type": "mqtt out",
        "z": "a159b87f.b45138",
        "name": "",
        "topic": "home/sleepingRoom/lightColor",
        "qos": "0",
        "retain": "false",
        "broker": "171132c7.ece67d",
        "x": 1190,
        "y": 400,
        "wires": []
    },
    {
        "id": "2501819.5fb277e",
        "type": "ui_colour_picker",
        "z": "a159b87f.b45138",
        "name": "",
        "label": "Top Lights",
        "group": "7e338484.151fcc",
        "format": "rgb",
        "outformat": "object",
        "showSwatch": true,
        "showPicker": false,
        "showValue": false,
        "showAlpha": false,
        "showLightness": true,
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "topic": "",
        "x": 710,
        "y": 400,
        "wires": [
            [
                "ecf74fca.03093"
            ]
        ]
    },
    {
        "id": "ecf74fca.03093",
        "type": "function",
        "z": "a159b87f.b45138",
        "name": "object to BGR",
        "func": "msg.payload = \n    msg.payload.b + \n    (msg.payload.g << 8) +\n    (msg.payload.r << 16);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 920,
        "y": 400,
        "wires": [
            [
                "8e130c7b.178a3"
            ]
        ]
    },
    {
        "id": "3f6009e4.9a9066",
        "type": "function",
        "z": "a159b87f.b45138",
        "name": "BGR to object",
        "func": "var c = msg.payload * 1;\nmsg.payload = {\n    \"b\": c & 255, \n    \"g\": (c >> 8) & 255,\n    \"r\": (c >> 16) & 255,\n    \"a\": 1\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 500,
        "y": 400,
        "wires": [
            [
                "2501819.5fb277e"
            ]
        ]
    },
    {
        "id": "171132c7.ece67d",
        "type": "mqtt-broker",
        "z": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": ""
    },
    {
        "id": "7e338484.151fcc",
        "type": "ui_group",
        "z": "",
        "name": "Sleeping Room",
        "tab": "ea10702d.5708d",
        "order": 1,
        "disp": true,
        "width": "6"
    },
    {
        "id": "ea10702d.5708d",
        "type": "ui_tab",
        "z": "",
        "name": "Lights",
        "icon": "dashboard",
        "order": 3
    }
]